*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: #fff;
}
html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

/* h2{
    font-size: 50px;
}
button{
    background-color: crimson;
    padding: 10px 20px;
    margin-top: 20px;

} */

#box{
    height: 500px;
    width: 500px;
    background-color: rgb(20,90,50);
    border: 5px solid white;
    border-radius: 10px;
}

button{
    padding: 10px 20px;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

button:active{
    scale: 0.95;
}